.side-bar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(179, 175, 175);
  cursor: pointer;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 5px; 
}

.sidebar-link div {
  font-size: 10px;
}